<!-- header div container-->
<div class="container-fluid" id="header">
    <p class="text-center display-4 pb-1">Resume Generator</p>

    <!-- quote -->

    <blockquote class="blockquote mb-0">
        <p class="text-center h-4 pb-2" id="quote">Life is our resume. It is our story to tell, and the choices we make
            write
            the chapters.</p>
        <footer class="blockquote-footer text-center" id="source">Matthew McConaughey,
            <a href="https://www.goodreads.com/work/quotes/78998213-greenlights" target="_blank"> Greenlights</a>
        </footer>
    </blockquote>
    <br>
</div>

<!-- Main div container-->
<div class="container-fluid" id="maincontainerdiv">


    <!-- Personal Details div-->

    <div class="container col py-2" id="personalDetailDiv">
        <h1 class="text-left">Personal Details</h1>
        <form [formGroup]="personaldata" (ngSubmit)="onsubmit()">

            <!-- About section -->
            <h4 class="text-center headings">About</h4>

            <div class="personalDetailFieldDiv row container-fluid" id="aboutdiv" formGroupName="userAbout">

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input formControlName="UserName" id="firstname" matInput
                            placeholder="e.g. Sachin">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Middle Name</mat-label>
                        <input formControlName="UserMiddleName" id="middlename" matInput
                            placeholder="e.g. Ramesh">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="UserLastName" id="Lastname" matInput
                            placeholder="e.g. Tendulkar">
                    </mat-form-field>
                </div>
            </div>

            <!-- contact section -->
            <h4 class="text-center headings">Contact</h4>

            <div class="personalDetailFieldDiv row container-fluid" id="contactdata" formGroupName='usercontact'>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone No.</mat-label>
                        <input formControlName="UserPhoneNo" id="contactNo" matInput
                            placeholder="9834110970">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Telephone No.</mat-label>
                        <input formControlName="UsertelephoneNo" id="telephoneNo" matInput
                            placeholder="020-7654321">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail Address</mat-label>
                        <input formControlName="UserEmail" id="email" matInput
                            placeholder="pdeshpande666@gmail.com">
                    </mat-form-field>
                </div>
            </div>

            <!-- Address section -->
            <h4 class="text-center headings">Address</h4>

            <div class="personalDetailFieldDiv row container-fluid" id="addressdata" formGroupName="useraddress">

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input formControlName="usercity" id="city" matInput placeholder="Pune">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input formControlName="userstate" id="state" matInput
                            placeholder="Maharashtra">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Pin-Code</mat-label>
                        <input formControlName="userpincode" id="pincode" matInput
                            placeholder="411041">
                    </mat-form-field>
                </div>
            </div>

            <!-- Sammary section  -->
            <h4 class="text-center headings">Sammary</h4>

            <div class="personalDetailFieldDiv row container-fluid" id="addressdata">

                <div class="personalDataFields col container-fluid">
                    <mat-form-field class="example-full-width personalDataFields" appearance="outline">
                        <mat-label>Short description</mat-label>
                        <textarea formControlName="userSammary" id="sammary" rows="5" matInput
                            placeholder="Write a short description about you. Ex. Creative software developer with over 5 years of experience in...."></textarea>
                    </mat-form-field>
                </div>
            </div>

            <div class="personalDetailFieldDiv text-center container-fluid"><button type="submit"
                    class="btn btn-primary btn-sm">Submit</button></div>

        </form>

    </div>


    <!-- Educational Details div-->
    <div class="container col py-2" id="educationalDetailDiv">
        <h1 class="text-left">Educational Details</h1>

        <form [formGroup]="educationaldata">

            <!-- Educational details Field -->
            <div class="educationalDetailFieldDiv row container-fluid" formArrayName="educationalField" >

                <div class="educationalDataFields col container-fluid" *ngFor="let item of EDUcontrols; let i = index">
                    <mat-form-field appearance="outline">
                        <mat-label>Institute Name</mat-label>
                        <input id="instituteName" [formControlName]="i" matInput placeholder="ABC college">
                    </mat-form-field>
                </div>

                <div class="educationalDataFields col container-fluid" *ngFor="let item of EDUcontrols; let i = index">
                    <mat-form-field appearance="outline">
                        <mat-label>Passing Year</mat-label>
                        <input id="passingYear" [formControlName]="i" matInput placeholder="2021">
                    </mat-form-field>
                </div>

                <div class="educationalDataFields col container-fluid" *ngFor="let item of EDUcontrols; let i = index">
                    <mat-form-field appearance="outline">
                        <mat-label>Percentage/CGPA</mat-label>
                        <input id="percentage" [formControlName]="i" matInput placeholder="78%">
                    </mat-form-field>
                </div>

                <div class="educationalDataFields container-fluid text-left" *ngFor="let item of EDUcontrols; let i = index">
                    <mat-form-field appearance="outline">
                        <mat-label>Course Name</mat-label>
                        <input  id="courseName" [formControlName]="i" matInput placeholder="e.g. MBBS">
                    </mat-form-field>
                </div>

            </div>

            <div class="text-center container-fluid">
                <button type="button" (click)="addEduField()" class="btn btn-lg btn-secondary">Add Field</button>
            </div>

        </form>
    </div>
    
</div>