<!-- header div container-->
<div class="container-fluid" id="header">
    <p class="text-center display-4 pb-1">Resume Generator</p>

</div>

<!-- Main div container-->
<div class="container-fluid" id="maincontainerdiv">

    <mat-horizontal-stepper class="container-fluid">
        <mat-step label="Personal Details">
            <!-- Personal Details div-->
            <div class="container col py-2" id="personalDetailDiv">

                <form [formGroup]="personaldata" (ngSubmit)="onsubmit()">

                    <!-- About section -->
                    <h4 class="text-center headings">About</h4>

                    <div class="personalDetailFieldDiv row container-fluid" id="aboutdiv" formGroupName="userAbout">

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input formControlName="UserName" id="firstname" matInput placeholder="e.g. Sachin">
                            </mat-form-field>
                        </div>

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>Middle Name</mat-label>
                                <input formControlName="UserMiddleName" id="middlename" matInput
                                    placeholder="e.g. Ramesh">
                            </mat-form-field>
                        </div>

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="UserLastName" id="Lastname" matInput
                                    placeholder="e.g. Tendulkar">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- contact section -->
                    <h4 class="text-center headings">Contact</h4>

                    <div class="personalDetailFieldDiv row container-fluid" id="contactdata"
                        formGroupName='usercontact'>

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>Phone No.</mat-label>
                                <input formControlName="UserPhoneNo" id="contactNo" matInput placeholder="9834110970">
                            </mat-form-field>
                        </div>

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>Telephone No.</mat-label>
                                <input formControlName="UsertelephoneNo" id="telephoneNo" matInput
                                    placeholder="020-7654321">
                            </mat-form-field>
                        </div>

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>E-mail Address</mat-label>
                                <input formControlName="UserEmail" id="email" matInput
                                    placeholder="pdeshpande666@gmail.com">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Address section -->
                    <h4 class="text-center headings">Address</h4>

                    <div class="personalDetailFieldDiv row container-fluid" id="addressdata"
                        formGroupName="useraddress">

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>City</mat-label>
                                <input formControlName="usercity" id="city" matInput placeholder="Pune">
                            </mat-form-field>
                        </div>

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <input formControlName="userstate" id="state" matInput placeholder="Maharashtra">
                            </mat-form-field>
                        </div>

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field appearance="outline">
                                <mat-label>Pin-Code</mat-label>
                                <input formControlName="userpincode" id="pincode" matInput placeholder="411041">
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Sammary section  -->
                    <h4 class="text-center headings">Sammary</h4>

                    <div class="personalDetailFieldDiv row container-fluid" id="addressdata">

                        <div class="personalDataFields col container-fluid">
                            <mat-form-field class="example-full-width personalDataFields" appearance="outline">
                                <mat-label>Short description</mat-label>
                                <textarea formControlName="userSammary" id="sammary" rows="5" matInput
                                    placeholder="Write a short description about you. Ex. Creative software developer with over 5 years of experience in...."></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>

            </div>
            <div class="guidebtndiv" style="justify-content: end;">
                <button mat-fab matStepperNext color="primary" class="guidebuttons">Next</button>
            </div>
        </mat-step>
        <mat-step label="Educational Details">
            <!-- Educational Details div-->
            <div class="container col py-2" id="educationalDetailDiv">
                <form (ngSubmit)="onsubmit()">

                    <!-- Educational details Field -->
                    <div class="educationalDetailFieldDiv container-fluid" *ngFor="let obj of arr; let i=index">
                        <div class="row">
                            <!-- Institute Name -->
                            <div class="educationalDataFields col container-fluid">
                                <mat-form-field appearance="outline">
                                    <mat-label>Institute Name</mat-label>
                                    <input [(ngModel)]="obj.institute" name="instituteName{{i}}" id="instituteName"
                                        matInput placeholder="ABC college">
                                </mat-form-field>
                            </div>

                            <!-- Admission Year -->
                            <!-- <div class="educationalDataFields col-md-4 container-fluid">
                        <mat-form-field appearance="outline">
                            <mat-label>Admission Year</mat-label>
                            <input [(ngModel)]="obj.admissionyear" name="admissionyear{{i}}" id="admissionyear" matInput
                                placeholder="2017">
                        </mat-form-field>
                    </div> -->
                            <!-- Passing Year -->
                            <div class="educationalDataFields col container-fluid">
                                <mat-form-field appearance="outline">
                                    <mat-label>Passing Year</mat-label>
                                    <input [(ngModel)]="obj.passyear" name="passingYear{{i}}" id="passingYear" matInput
                                        placeholder="2021">
                                </mat-form-field>
                            </div>
                            <!-- Percentage/CGPA -->
                            <div class="educationalDataFields col container-fluid">
                                <mat-form-field appearance="outline">
                                    <mat-label>Percentage/CGPA</mat-label>
                                    <input [(ngModel)]="obj.percentage" name="percentage{{i}}" id="percentage" matInput
                                        placeholder="78%">
                                </mat-form-field>
                            </div>
                            <!-- Course Name -->
                            <div class="educationalDataFields col container-fluid">
                                <mat-form-field appearance="outline">
                                    <mat-label>Course Name</mat-label>
                                    <input [(ngModel)]="obj.coursename" name="courseName{{i}}" id="courseName" matInput
                                        placeholder="e.g. MBBS">
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <!-- remove button  -->
                            <div class="educationalDataFields container-fluid" *ngIf="i!=0" id="removebtn">
                                <button (click)="removeEduField(i)" type="button"
                                    class="btn btn-sm btn-warning">Remove</button>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" style="display: none;"></button>
                    </div>

                    <!-- to add new eduacational detail field  -->
                    <div class="text-center container-fluid">
                        <button type="button" (click)="addEduField()" class="btn btn-lg btn-secondary">Add
                            Field</button>
                    </div>

                </form>
            </div>
            <div class="guidebtndiv">
                <button mat-fab matStepperPrevious color="primary" class="guidebuttons">Back</button>
                <button mat-fab matStepperNext color="primary" class="guidebuttons">Next</button>
            </div>
        </mat-step>
        <mat-step label="Work Details">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At illo doloribus animi maiores eligendi
                    obcaecati dolore cum placeat quod molestias, nemo similique, impedit hic commodi dolorem odio
                    ratione, saepe exercitationem.</p>
            </div>
            <div class="guidebtndiv">
                <button mat-fab matStepperPrevious color="primary" class="guidebuttons">Back</button>
                <button mat-fab matStepperNext color="primary" class="guidebuttons">Next</button>
            </div>
        </mat-step>
        <mat-step label="Preview">
            <!-- Print CV button div-->
            <div class="container-fluid text-center">
                <button printSectionId="cvcontainer" styleSheetFile="digital-resume.component.css" ngxPrint
                    class="btn btn-primary btn-lg" type="button">Print</button>
            </div>
            <div class="guidebtndiv">
                <button mat-fab matStepperPrevious color="primary" class="guidebuttons">Back</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>