
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

#header{

    width:100% ;
    background-color: rgb(29, 29, 29);
    color: white;
    /* height:fit-content ; */
    margin-bottom: 0rem;
}
#maincontainerdiv{
    /* display: none; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
    padding: 1rem 6rem;
    background-color:rgb(255, 255, 255);
}

 .headings{
    margin: auto;
    padding: 20px;
    font-weight:bold;
    
 }

 #personalDetailDiv{
    padding: 1rem 1rem;
    margin: 10px auto;
    width: auto;
    background-color:#ffffff;
    border-radius: 25px;
    /* border: 1.5px solid black; */
    
 }
  .personalDetailFieldDiv{
    padding: auto 20px ;
    margin: auto;
  }
  .personalDataFields{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    margin: auto;
  } 


 #educationalDetailDiv{
    
    padding: 1rem 1rem;
    margin: 10px auto;
    width: auto;
    background-color:#ffffff;
    border-radius: 25px;
 }
  .educationalDetailFieldDiv{
    padding: auto 20px ;
    margin: auto;
  }
   .educationalDataFields{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    margin: auto;
   }

 #workDetailDiv{
    padding: 1rem 1rem;
    margin: 10px auto;
    width: auto;
    background-color:#ffffff;
    border-radius: 25px;
 }
 .workDetailFieldDiv{
    padding: auto 20px ;
    margin: auto;
  }
  .workDataFields{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    margin: auto;
   }

  .example-full-width{
    width: 100%;
  }

.skillDataField{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    margin: auto;
    padding: 0px 10px;
}

.languageDataField{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    margin: auto;
}

.removebtn{
    padding: 10px;
}

.message{
    width: 12em;
    font-weight: 100;
    border-radius: 5px;
    text-align: start;
    color: rgb(255 0 0);
    background-color: #ffd0d0;
}
#userProfileImage{
    width: 60%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
    padding:5px ;
    margin: 25px;
}
.cvLeftHeadings{
    text-align: left;
    color: white;

}
#cvHeaderName{
    background-color: rgb(231, 231, 231);
    font-weight: 900;
    padding: 30px 50px;

}
#contactdiv{
    display: flex;
    flex-direction:column;
    padding: 15px;
}
.contactfield{
    display: flex;
    flex-direction: row;
    padding: 7px 20px 6px 40px ;
}
.contactContent{
    height: auto;
    padding: 18px 10px;
    justify-content: center;
    align-items:flex-start;
    color: white;
}
.guidebuttons{
    margin: 2% 3%;
}
.guidebtndiv{
display: flex;
justify-content:space-between;
}
#previewDiv{
    width: 60vw;
    height: 60vw;
    background-color: rgb(216, 216, 216);
}
#leftCv{
    background-color: rgb(0, 26, 87);
}
#rightCv{
    background-color: rgb(255, 187, 187);
}
 /* #quote{
    font-family: 'Yuji Syuku', serif;
    
}
 #source{
    font-family:-apple-system, 'Open Sans',BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: white;
    margin-bottom: 0rem;
} */