<!-- header div container-->
<div class="container-fluid" id="header">
    <p class="text-center display-4 pb-1">Resume Generator</p>

    <!-- quote -->

    <blockquote class="blockquote mb-0">
        <p class="text-center h-4 pb-2" id="quote">Life is our resume. It is our story to tell, and the choices we make
            write
            the chapters.</p>
        <footer class="blockquote-footer text-center" id="source">Matthew McConaughey,
            <a href="https://www.goodreads.com/work/quotes/78998213-greenlights" target="_blank"> Greenlights</a>
        </footer>
    </blockquote>
    <br>
</div>

<!-- Main div container-->
<div class="container-fluid" id="maincontainerdiv">


    <!-- Personal Details div-->

    <div class="container col py-2" id="personalDetailDiv">
        <h1 class="text-left">Personal Details</h1>
        <form>

            <!-- About section -->
            <h4 class="text-center headings">About</h4>

            <div class="personalDetailFieldDiv row container-fluid" id="aboutdiv">

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input [(ngModel)]="firstname" id="firstname" matInput placeholder="e.g. Sachin">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Middle Name</mat-label>
                        <input [(ngModel)]="middlename" id="middlename" matInput placeholder="e.g. Ramesh">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input [(ngModel)]="Lastname" id="Lastname" matInput placeholder="e.g. Tendulkar">
                    </mat-form-field>
                </div>
            </div>

            <!-- contact section -->
            <h4 class="text-center headings">Contact</h4>

            <div class="personalDetailFieldDiv row container-fluid" id="contactdata">

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Phone No.</mat-label>
                        <input [(ngModel)]="contactNo" id="contactNo" matInput placeholder="9834110970">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Telephone No.</mat-label>
                        <input [(ngModel)]="telephoneNo" id="telephoneNo" matInput placeholder="020-7654321">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail Address</mat-label>
                        <input [(ngModel)]="email" id="email" matInput placeholder="pdeshpande666@gmail.com">
                    </mat-form-field>
                </div>
            </div>

            <!-- Address section -->
            <h4 class="text-center headings">Address</h4>

            <div class="personalDetailFieldDiv row container-fluid" id="addressdata">

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input [(ngModel)]="city" id="city" matInput placeholder="Pune">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>State</mat-label>
                        <input [(ngModel)]="state" id="state" matInput placeholder="Maharashtra">
                    </mat-form-field>
                </div>

                <div class="personalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Pin-Code</mat-label>
                        <input [(ngModel)]="pincode" id="pincode" matInput placeholder="411041">
                    </mat-form-field>
                </div>
            </div>

            <!-- Sammary section  -->
            <h4 class="text-center headings">Sammary</h4>

            <div class="personalDetailFieldDiv row container-fluid" id="addressdata">

                <div class="personalDataFields col container-fluid">
                    <mat-form-field class="example-full-width personalDataFields" appearance="outline">
                        <mat-label>Short description</mat-label>
                        <textarea [(ngModel)]="sammary" id="sammary" rows="5" matInput
                            placeholder="Write a short description about you. Ex. Creative software developer with over 5 years of experience in...."></textarea>
                    </mat-form-field>
                </div>
            </div>

        </form>

    </div>

    <!-- Educational Details div-->
    <div class="container col py-2" id="educationalDetailDiv">
        <h1 class="text-left">Educational Details</h1>

        <form>

            <!-- Educational details Field -->
            <div class="educationalDetailFieldDiv row container-fluid">

                <div class="educationalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Institute Name</mat-label>
                        <input [(ngModel)]="instituteName" id="instituteName" matInput placeholder="ABC college">
                    </mat-form-field>
                </div>

                <div class="educationalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Passing Year</mat-label>
                        <input [(ngModel)]="passingYear" id="passingYear" matInput placeholder="2021">
                    </mat-form-field>
                </div>

                <div class="educationalDataFields col container-fluid">
                    <mat-form-field appearance="outline">
                        <mat-label>Percentage/CGPA</mat-label>
                        <input [(ngModel)]="percentage" id="percentage" matInput placeholder="78%">
                    </mat-form-field>
                </div>
            </div>
            <div class="text-center container-fluid">
                <button type="button" class="btn btn-lg btn-warning" >Add Field</button>
            </div>


        </form>
    </div>

    <!-- Generate CV button div -->
    <div class="container-fluid text-center">
        <button class="btn btn-primary btn-lg text-center" (click)="generatecv()">Generate CV</button>
    </div>
</div>

<!-- CV Preview -->
<div *ngIf="display" class="container-fluid" id="cvcontainer">
    <div class="row">
        <div class="col-md-4 p-2 text-center" id="leftsidecv">
            <!-- first column -->
            <div>
                <img class="img-fluid" id="userProfileImage" src="../../assets/Default-user-profile-image.png"
                    alt="profile picture not found">
            </div>
            <h4 class="cvLeftHeadings">CONTACT</h4>
            <div class="container-fluid" id="contactdiv">

                <div class="contactfield">
                    <button mat-icon-button color="primary" class="m-2">
                        <mat-icon color="accent">phone_android</mat-icon>
                    </button>
                    <div id="usercontactno" class="contactContent">{{contactNo}}</div>
                </div>
                <div class="contactfield">
                    <button mat-icon-button color="primary" class="m-2">
                        <mat-icon color="accent">local_phone</mat-icon>
                    </button>
                    <div id="usertelephoneno" class="contactContent">{{telephoneNo | currency: 'INR'}}</div>
                </div>
                <div class="contactfield">
                    <button mat-icon-button color="primary" class="m-2">
                        <mat-icon color="accent">email</mat-icon>
                    </button>
                    <div id="useremailaddress" class="contactContent">{{email | lowercase}}</div>
                </div>
                <div class="contactfield">
                    <button mat-icon-button color="primary" class="m-2">
                        <mat-icon color="accent">place</mat-icon>
                    </button>
                    <div id="useraddress" class="contactContent">{{city}}, {{state}} - {{pincode | number:'6.0-0'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 p-5" id="rightsidecv">
            <!-- second column -->
            <div class="container-fluid" id="cvHeaderName">
                <p id="username" class="display-1 text-center">{{firstname | uppercase}} {{Lastname | uppercase}}</p>
                <hr>
                <br>
            </div>
            <br>
            <div class="card">
                <div class="card-header display-5 text-left">
                    Summary
                </div>
                <div id="usersummary" class="card-body text-left">{{sammary}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Print CV button div-->
<div class="container-fluid text-center">
    <button printSectionId="cvcontainer" styleSheetFile="digital-resume.component.css" ngxPrint
        class="btn btn-primary btn-lg" type="button">Print</button>
</div>