<body>
    <div class="container" id="maindiv">
        <button type="button" class="btn btn-primary mx-4 my-4  ">SignUp & Login</button>

        <button type="button" class="btn btn-primary mx-4 my-4  ">Notepad</button>

        <button type="button" class="btn btn-primary mx-4 my-4  ">Digital Resume</button>

        <button type="button" class="btn btn-primary mx-4 my-4  ">To Do List</button>

        <button type="button" class="btn btn-primary mx-4 my-4  ">Meet room booking sysytem</button>

    </div>
</body>