    <div class="container-fluid" id="maindiv">
        <button type="button" class="btn btn-primary mx-4 my-4" routerLink="/" >Home</button>

        <button type="button" class="btn btn-primary mx-4 my-4" routerLink="/loginpage" >SignUp & Login</button>

        <button type="button" class="btn btn-primary mx-4 my-4  " routerLink="/notepad">Notepad</button>

        <button type="button" class="btn btn-primary mx-4 my-4"  routerLink="/digital-resume" >Digital Resume</button>

        <button type="button" class="btn btn-primary mx-4 my-4  " routerLink="/to-do-list">To Do List</button>

        <button type="button" class="btn btn-primary mx-4 my-4  " routerLink="/meet-room-booking-system">Meet room booking sysytem</button>
    </div>
    <router-outlet></router-outlet>