body{
    margin: 0;
    padding: 0;
    background-color: rgb(233, 233, 233);
}
#maindiv{
    display: flex;
    flex-direction:row;
    align-items: center; 
    justify-content: center;
    /* height: 50vw;
    width: 60vw; */
    margin: auto;
}